@charset "UTF-8";
/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
/**
 * SIZE SCALE
 * This is a Perfect Fourth scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
/**
 * COLORS
 * Colors are shared between backgrounds and text by default. 
 * You can also use them to power borders, fills or shadows, for example.
 */
/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
.hero {
  position: relative;
  padding: 50vh 0 3.15rem 0;
}
.hero__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.hero__inner {
  position: relative;
  z-index: 1;
}
.hero__content {
  background-color: rgba(38, 49, 71, 0.9);
  display: inline-block;
  padding: 1.33rem;
  border: 2px solid #fdfbf3;
}

.pagination {
  padding-bottom: 3.15rem;
}
.pagination__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pagination__inner > [data-direction=forwards] {
  margin-inline-start: auto;
}
.pagination__arrow {
  font-size: 1.77rem;
  display: inline-block;
  text-decoration: none !important;
}
.pagination__text {
  display: none;
}
@media (min-width: 37em) {
  .pagination {
    padding-bottom: 5.6rem;
  }
  .pagination__text {
    display: inline;
  }
}
