.table {
  display: grid;
  &.col3 {
    grid-template-columns: repeat(3, auto);
  }
  &.col4 {
    grid-template-columns: repeat(4, auto);
  }

  &__header {
    @include apply-utility('font', 'sans');
    @include apply-utility('weight', 'bold');
    font-size: get-size('400');
  }

  &__data {
    background-color: get-color(light-glare);
    margin: 2px;
    padding: 5px;
    border: 2px solid get-color('light-shade');
  }

  @include media-query('md') {
    &__header {
      font-size: get-size('500');
    }
  }
}
