.people {
  .person {
    &__details {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      color: get-color(light);
      background-color: get-color(dark);
      padding: get-size('300');
    }

    // Pushes a sole "nickname" out to the right
    &__details > .person__nickname {
      margin-inline-start: auto;
    }
  }
}
