.trail-guide {
  display: grid;
  grid-gap: var(--auto-grid-gap, get-size('800'));

  &__station-link {
    font-size: get-size('700');
    color: get-color('dark-shade');
    text-decoration-color: get-color('primary-shade');

    @include apply-utility('font', 'sans');
    @include apply-utility('weight', 'bold');

    &:hover {
      color: get-color('primary-shade');
      text-decoration-color: get-color('dark-shade');
    }
  }

  @include media-query('md') {
    grid-template-columns: auto 1fr;
    grid-gap: var(--auto-grid-gap, get-size('major'));
  }
}
