<div class="[ panel ]">
    <div class="[ wrapper ]">
        <div class="auto-grid-l">
            <div class="">
                <form class="[ contact-form ]" name="contactForm" method="post" data-netlify="true"
                    netlify-honeypot="bot-field">
                    <div hidden aria-hidden="true">
                        <label for="botField">
                            Don’t fill this out if you're human:</label>
                        <input id="botField" name="bot-field" />
                    </div>
                    <label for="name">Your name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" required>
                    <label for="email">Your email:</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <label>Your message:</label>
                    <textarea name="message" id="message" placeholder="Enter your message" required></textarea>
                    <button class="button" type="submit">Send your message</button>
                </form>
            </div>
            <div class="[ suggestions ] [ flow ]">
                <p>All the form fields are required so no anonymous trolling, and if Alasdair and Martin need to clarify
                    anything they'll be in touch.</p>
                <p>Something along the lines of:</p>
                <ul>
                    <li>Not many people know this about Moz, but...</li>
                    <li>I can remember when Moz...</li>
                    <li>Moz won't thank me for telling you this, but...</li>
                </ul>
            </div>
        </div>
    </div>
</div>