<footer role="contentinfo" class="[ site-foot ] [ panel ] [ bg-dark color-light ]">
    <div class="wrapper">
        <div class="auto-grid-l">
            <div class="[ site-foot__credits ] [ flow ]">
                <p>
                    This website was built by
                    <a href="https://mountainanalytics.co.uk">Ian</a> with <a href="https://www.11ty.dev/">Eleventy</a>,
                    and is hosted on <a href="https://www.netlify.com/">Netlify</a>. The source code is hosted on <a
                        href="https://github.com/ianmountain/moz-stag">Github</a>.
                </p>
                <p>Real time train information is obtained from the <a
                        href="https://www.nationalrail.co.uk/100296.aspx">National
                        Rail Darwin feed</a> using an instance of <a href="https://huxley2.azurewebsites.net/">Huxley
                        2</a>, <a href="https://unop.uk/huxley-2-release/#guide">hosted on Microsoft
                        Azure</a>.</p>
            </div>
            <div class="site-foot__image">
                {% include "svg/moz-image.svg" %}
            </div>
        </div>
    </div>
</footer>