<div class="[ panel ] [ bg-secondary-glare ]">
    <div class="[ wrapper ]">
        <div class="trail-guide">
            <ol class="[ trail-guide__stations ] [ flow ]">
                {% for item in collections.stations %}
                <li class="[ trail-guide__station-item ] [ leading-tight measure-long ]">
                    <a href="{{ item.url }}" class="trail-guide__station-link">{{ item.data.displayOrder }}.
                        {{ item.data.title }}</a>
                </li>
                {% endfor %}
            </ol>
            <div class="trail-guide__map">
                {% include "svg/map.svg" %}
            </div>
        </div>
    </div>
</div>